@font-face {
    font-family: 'ptc';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/font/PetitComputer.ttf') format('truetype');
}

@font-face {
    font-family: 'ptcedit';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/font/PetitComputerEdit.ttf') format('truetype');
}

body {
    background-color: #000000;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    font-family: 'ptc';
}

a {
    color: inherit;
}



#ptc {
    position: relative;
    height: 384px;
    width: 256px;
    margin: auto;
    border: 1px solid #888888;
    zoom: 200%;
}



#runMode, .runModeCanvas {
    position: absolute;
    top: 0;
    height: 192px;
    width: 256px;
    image-rendering: pixelated;
}

#console {
    z-index: 0;
}

#bgFront {
    z-index: -1;
}

#sprite {
    z-index: -2;
}

#bgRear {
    z-index: -3;
}

#graphic {
    z-index: -4;
}



#editScreen {
    position: absolute;
    top: 0;
    height: 192px;
    width: 256px;
}



#pnlScreen {
    position: absolute;
    bottom: 0;
    height: 192px;
    width: 256px;
    background-image: url('./assets/pnl/pnlPlaceholder.png');
}



#demo {
    position: fixed;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: #FF0000;
    font-size: 24px;
    text-decoration: none;
}

#github {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 0;
    opacity: 0.5;
}
